<html>

<head>
    <!-- Vue.JS -->
    <script src="/static/vue.js"></script>
    <!-- <script src="/static/vue.prod.js"></script> -->
    <!-- Axios -->
    <script src="/static/axios.min.js"></script>
    <!-- BootStrap -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>Sandwich Daemon</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Sandwich Daemon</span>
        </div>
    </nav>
    <div class="container-sm p-3" id="app">

        <!-- Create ShardGroup Modal -->
        <div class="modal fade" id="shardGroupModal" tabindex="-1" aria-labelledby="shardGroupModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shardGroupModalLabel">New ShardGroup for
                            {{ clusterConfiguration.cluster }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-sm-12 form-label">Shard Count</label>
                            <input class="form-check-input" type="checkbox" v-model="clusterConfiguration.autoShard">
                            <label class="form-check-label mb-2">Auto Determine</label>
                            <input type="number" class="form-control" v-model="clusterConfiguration.shardCount"
                                :disabled="clusterConfiguration.autoShard">
                        </div>
                        <div class="mb-3">
                            <label class="col-sm-12 form-label">Shard IDs</label>
                            <input class="form-check-input" type="checkbox" v-model="clusterConfiguration.autoIDs">
                            <label class="form-check-label mb-2">Auto Determine</label>
                            <input type="text" class="form-control" v-model="clusterConfiguration.shardIDs"
                                :disabled="clusterConfiguration.autoIDs" placeholder="from-to,from-to,from-to">
                        </div>
                        <div class="form-check mt-5">
                            <input class="form-check-input" type="checkbox"
                                v-model="clusterConfiguration.startImmediately">
                            <label class="form-check-label">Start ShardGroup Immediately</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="createShardGroup()">Create
                            ShardGroup</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- App -->

        <div v-if="this.loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div v-else-if="this.error">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">An error occured:</h4>
                <hr>
                <p class="mb-0">{{ data }}</p>
            </div>
        </div>
        <div v-else>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">Analytics</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-clusters-tab" data-toggle="pill" href="#pills-clusters" role="tab"
                        aria-controls="pills-clusters" aria-selected="false">Clusters</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-settings-tab bg-dark" data-toggle="pill" href="#pills-settings"
                        role="tab" aria-controls="pills-settings" aria-selected="false">Daemon Settings</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
                        <card-display :title="'Guilds'" :value="analytics.guilds" :bg=`bg-dark`>
                        </card-display>
                        <card-display :title="'Online'" :value="analytics.online" :bg="analytics.colour"></card-display>
                        <card-display :title="'Uptime'" :value="analytics.uptime" :bg=`bg-dark`></card-display>
                        <card-display :title="'Events Processed'" :value="analytics.events" :bg=`bg-dark`>
                        </card-display>
                    </div>
                    <div v-if=" this.loadingAnalytics">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div v-else class="m-5">
                        <line-chart :chart-data="analytics.chart" :height="150"
                            :options="{scales: {xAxes:[{type:'time'}]}, animation:{duration:0}}">
                        </line-chart>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-clusters" role="tabpanel" aria-labelledby="pills-clusters-tab">
                    <div v-for="cluster in this.fromClusters(data)">
                        <div class="accordion my-4" :id="'cluster-' + cluster.configuration.identifier">
                            <div class="card">
                                <div class="card-header" :id="'header-cluster-' + cluster.configuration.identifier">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark"
                                            type="button" data-toggle="collapse"
                                            :data-target="'#collapse-cluster-' + cluster.configuration.identifier"
                                            aria-expanded="true"
                                            :aria-controls="'collapse-cluster-' + cluster.configuration.identifier">
                                            <span
                                                :class="'badge bg-' + colourCluster[cluster.status] || 'default'">{{ statusShard[cluster.status] }}</span>
                                            <span>{{ cluster.configuration.display_name }}</span>
                                        </button>
                                    </h2>
                                </div>
                                <div :id="'collapse-cluster-' + cluster.configuration.identifier" class="collapse"
                                    :aria-labelledby="'header-cluster-' + cluster.configuration.identifier"
                                    :data-parent="'#cluster-' + cluster.configuration.identifier">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active"
                                                    :id="'cluster-' + cluster.configuration.identifier + 'pills-status-tab'"
                                                    data-toggle="pill"
                                                    :href="'#cluster-' + cluster.configuration.identifier + 'pills-status'"
                                                    role="tab"
                                                    :aria-controls="'cluster-' + cluster.configuration.identifier + 'pills-status'"
                                                    aria-selected="true">Status</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                    :id="'cluster-' + cluster.configuration.identifier + 'pills-settings-tab'"
                                                    data-toggle="pill"
                                                    :href="'#cluster-' + cluster.configuration.identifier + 'pills-settings'"
                                                    role="tab"
                                                    :aria-controls="'cluster-' + cluster.configuration.identifier + 'pills-settings'"
                                                    aria-selected="false">Settings</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade p-4 active show"
                                                :id="'cluster-' + cluster.configuration.identifier + 'pills-status'"
                                                role="tabpanel"
                                                :aria-labelledby="'cluster-' + cluster.configuration.identifier + 'pills-status-tab'">
                                                <div
                                                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center pb-5">
                                                    <card-display :title="'Shard Groups'"
                                                        :value="Object.keys(cluster.shardgroups).length"
                                                        :bg="'bg-dark'"></card-display>
                                                    <card-display :title="'Average Latency'"
                                                        :value="calculateAverage(cluster) + ' ms'" :bg="'bg-dark'">
                                                    </card-display>
                                                </div>

                                                <button type="button" class="btn btn-dark"
                                                    v-on:click="newShardGroup(cluster.configuration.identifier)">
                                                    Create ShardGroup
                                                </button>
                                                Start
                                                Stop

                                                <div v-for="(shardgroup,index) in cluster.shardgroups">
                                                    <div class="mt-4">
                                                        <h5>
                                                            <span
                                                                :class="'badge bg-' + colourCluster[shardgroup.status] || 'default'">{{ statusShard[cluster.status] }}</span>
                                                            ShardGroup {{ index }}
                                                        </h5>
                                                    </div>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Shard</th>
                                                                <th scope="col">Status</th>
                                                                <th scope="col">RTT Latency</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr :class="'table-' + colourShard[shard.status] || 'default'"
                                                                v-for="(shard) in shardgroup.shards">
                                                                <th scope="row">{{ shard.shard_id }}</th>
                                                                <td>{{ statusShard[shard.status] }}</td>
                                                                <td>{{ new Date(shard.last_heartbeat_ack) - new Date(shard.last_heartbeat_sent) }}ms
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade p-4"
                                                :id="'cluster-' + cluster.configuration.identifier + 'pills-settings'"
                                                role="tabpanel"
                                                :aria-labelledby="'cluster-' + cluster.configuration.identifier + 'pills-settings-tab'">
                                                settings
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
                    settings
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/static/moment.min.js"></script>
<script src="/static/chart.min.js"></script>
<script src="/static/vue-chartjs.min.js"></script>
<script src="/static/script.js"></script>

</html>