<html>

<head>
    <!-- Vue.JS -->
    <script src="/static/vue.js"></script>
    <!-- <script src="/static/vue.prod.js"></script> -->
    <!-- Axios -->
    <script src="/static/axios.min.js"></script>
    <!-- BootStrap -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>Sandwich Daemon</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Sandwich
                Daemon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="https://github.com/TheRockettek/Sandwich-Daemon">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sm p-3" id="app">

        <!-- Create ShardGroup Modal -->
        <div class="modal fade" id="createShardGroupDialogue" tabindex="-1"
            aria-labelledby="createShardGroupDialogueLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createShardGroupDialogueLabel">New ShardGroup for
                            {{ createShardGroupDialogueData.cluster }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-sm-12 form-label">Shard Count</label>
                            <input class="form-check-input" type="checkbox"
                                v-model="createShardGroupDialogueData.autoShard">
                            <label class="form-check-label mb-2">Auto Determine</label>
                            <input type="number" class="form-control" v-model="createShardGroupDialogueData.shardCount"
                                :disabled="createShardGroupDialogueData.autoShard">
                        </div>
                        <div class="mb-3">
                            <label class="col-sm-12 form-label">Shard IDs</label>
                            <input class="form-check-input" type="checkbox"
                                v-model="createShardGroupDialogueData.autoIDs">
                            <label class="form-check-label mb-2">Auto Determine</label>
                            <input type="text" class="form-control" v-model="createShardGroupDialogueData.shardIDs"
                                :disabled="createShardGroupDialogueData.autoIDs" placeholder="from-to,from-to,from-to">
                        </div>
                        <!-- <div class="form-check mt-5">
                            <input class="form-check-input" type="checkbox"
                                v-model="createShardGroupDialogueData.startImmediately">
                            <label class="form-check-label">Start ShardGroup Immediately</label>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" v-on:click="createShardGroup()">Create
                            ShardGroup</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="stopShardGroupDialogue" tabindex="-1" aria-labelledby="stopShardGroupDialogueLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="stopShardGroupDialogueLabel">Stop ShardGroup
                            {{ stopShardGroupDialogueData.shardgroup }} for
                            {{ stopShardGroupDialogueData.cluster }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>Are you sure? It would be a pain if you accidentally kill the wrong ShardGroup
                            :&lt;</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" v-on:click="stopShardGroup()">Stop
                            ShardGroup</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- App -->

        <div v-if="this.loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div v-else-if="this.error">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">An error occured:</h4>
                <hr>
                <p class="mb-0">{{ daemon }}</p>
            </div>
        </div>
        <div v-else>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">Analytics</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-clusters-tab" data-toggle="pill" href="#pills-clusters" role="tab"
                        aria-controls="pills-clusters" aria-selected="false">Managers</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-settings-tab bg-dark" data-toggle="pill" href="#pills-settings"
                        role="tab" aria-controls="pills-settings" aria-selected="false">Daemon Settings</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
                        <card-display :title="'Guilds'" :value="analytics.guilds" :bg=`bg-dark`>
                        </card-display>
                        <card-display :title="'Online'" :value="analytics.online" :bg="analytics.colour"></card-display>
                        <card-display :title="'Uptime'" :value="analytics.uptime" :bg=`bg-dark`></card-display>
                        <card-display :title="'Events Processed'" :value="analytics.events" :bg=`bg-dark`>
                        </card-display>
                    </div>
                    <div v-if=" this.loadingAnalytics">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div v-else class="m-5">
                        <line-chart :chart-data="analytics.chart" :height="150"
                            :options="{scales: {xAxes:[{type:'time'}]}, animation:{duration:0}}">
                        </line-chart>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-clusters" role="tabpanel" aria-labelledby="pills-clusters-tab">
                    <div v-for="cluster in this.fromClusters(daemon.managers)">
                        <div class="accordion my-4" :id="'cluster-' + cluster.configuration.identifier">
                            <div class="card">
                                <div class="card-header" :id="'header-cluster-' + cluster.configuration.identifier">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left text-decoration-none text-dark"
                                            type="button" data-toggle="collapse"
                                            :data-target="'#collapse-cluster-' + cluster.configuration.identifier"
                                            aria-expanded="true"
                                            :aria-controls="'collapse-cluster-' + cluster.configuration.identifier">
                                            <span
                                                :class="'badge bg-' + colourCluster[cluster.status] || 'default'">{{ statusGroup[cluster.status] }}</span>
                                            <span>{{ cluster.configuration.display_name }}</span>
                                        </button>
                                    </h2>
                                </div>
                                <div :id="'collapse-cluster-' + cluster.configuration.identifier" class="collapse"
                                    :aria-labelledby="'header-cluster-' + cluster.configuration.identifier"
                                    :data-parent="'#cluster-' + cluster.configuration.identifier">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active"
                                                    :id="'cluster-' + cluster.configuration.identifier + '-pills-status-tab'"
                                                    data-toggle="pill"
                                                    :href="'#cluster-' + cluster.configuration.identifier + '-pills-status'"
                                                    role="tab"
                                                    :aria-controls="'cluster-' + cluster.configuration.identifier + '-pills-status'"
                                                    aria-selected="true">Status</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link"
                                                    :id="'cluster-' + cluster.configuration.identifier + '-pills-settings-tab'"
                                                    data-toggle="pill"
                                                    :href="'#cluster-' + cluster.configuration.identifier + '-pills-settings'"
                                                    role="tab"
                                                    :aria-controls="'cluster-' + cluster.configuration.identifier + '-pills-settings'"
                                                    aria-selected="false">Settings</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade p-4 active show"
                                                :id="'cluster-' + cluster.configuration.identifier + '-pills-status'"
                                                role="tabpanel"
                                                :aria-labelledby="'cluster-' + cluster.configuration.identifier + '-pills-status-tab'">
                                                <ul class="list-group mb-4">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center">
                                                        Shard Groups
                                                        <span
                                                            class="badge bg-dark rounded-pill">{{ Object.keys(cluster.shardgroups).length }}</span>
                                                    </li>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center">
                                                        Average Latency
                                                        <span
                                                            class="badge bg-dark rounded-pill">{{ calculateAverage(cluster) }}
                                                            ms</span>
                                                    </li>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center">
                                                        Sessions
                                                        <span
                                                            class="badge bg-dark rounded-pill">{{ cluster.gateway.session_start_limit.remaining }}/{{ cluster.gateway.session_start_limit.total }}
                                                            ({{ cluster.gateway.session_start_limit.max_concurrency }})</span>
                                                    </li>
                                                </ul>

                                                <button type="button" class="btn btn-dark"
                                                    v-on:click="createShardGroupDialogue(cluster.configuration.identifier)">
                                                    Scale Manager
                                                </button>
                                                <button type="button" class="btn btn-info"
                                                    v-on:click="refreshGateway(cluster.configuration.identifier)">
                                                    Refresh Gateway
                                                </button>

                                                <div v-for="(shardgroup,index) in cluster.shardgroups"
                                                    class="border border-bottom bg-light rounded-lg p-3 my-4">
                                                    <div class="mb-3">
                                                        <h5>
                                                            <span
                                                                :class="'badge rounded-pill bg-' + colourGroup[shardgroup.status] || 'default'">{{ statusGroup[shardgroup.status] }}</span>
                                                            ShardGroup {{ shardgroup.id }}
                                                        </h5>
                                                        <div v-if="shardgroup.status != 6">
                                                            <button type="button" class="btn btn-danger"
                                                                v-on:click="stopShardGroupDialogue(cluster.configuration.identifier, shardgroup.id)">
                                                                Stop ShardGroup
                                                            </button>
                                                        </div>
                                                        <div v-if="shardgroup.status >= 6">
                                                            <button type="button" class="btn btn-dark"
                                                                v-on:click="deleteShardGroup(cluster.configuration.identifier, shardgroup.id)">
                                                                Delete ShardGroup
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div v-if="shardgroup.status != 6">
                                                        <ul class="list-group mb-4">
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Status
                                                                <status-graph :value="shardgroup" :colours="colourShard"
                                                                    style="width: 50%">
                                                                </status-graph>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Shards
                                                                <span
                                                                    class="badge bg-dark rounded-pill">{{ Object.keys(shardgroup.shard_ids).length }}/{{ shardgroup.shard_count }}</span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Average Latency
                                                                <span
                                                                    class="badge bg-dark rounded-pill">{{ calculateAverageShardGroup(shardgroup) }}
                                                                    ms</span>
                                                            </li>
                                                        </ul>

                                                        <div v-if="shardgroup.error">
                                                            <div class="p-3 mb-2 bg-danger text-white">
                                                                {{ shardgroup.error }}</div>
                                                        </div>

                                                        <table class="table table-borderless">
                                                            <thead>
                                                                <tr class="table-dark">
                                                                    <th scope="col">Shard</th>
                                                                    <th scope="col">Status</th>
                                                                    <th scope="col">RTT Latency</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="table-default"
                                                                    v-for="(shard) in shardgroup.shards">
                                                                    <th scope="row">{{ shard.shard_id }}</th>
                                                                    <td><span
                                                                            :class="'badge bg-' + colourShard[shard.status]">{{ statusShard[shard.status] }}</span>
                                                                    </td>
                                                                    <td>{{ new Date(shard.last_heartbeat_ack) - new Date(shard.last_heartbeat_sent) }}ms
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade"
                                                :id="'cluster-' + cluster.configuration.identifier + '-pills-settings'"
                                                role="tabpanel"
                                                :aria-labelledby="'cluster-' + cluster.configuration.identifier + '-pills-settings-tab'">
                                                <form @submit.prevent>
                                                    <ul class="nav nav-tabs" id="tabpanel" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link active" id="general-tab"
                                                                data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-general'"
                                                                role="tab" aria-selected="true">General</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="bot-tab" data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-bot'"
                                                                role="tab" aria-selected="true">Bot</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="caching-tab" data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-caching'"
                                                                role="tab" aria-selected="true">Caching</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="events-tab" data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-events'"
                                                                role="tab" aria-selected="true">Events</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="messaging-tab" data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-messaging'"
                                                                role="tab" aria-selected="true">Messaging</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="sharding-tab" data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-sharding'"
                                                                role="tab" aria-selected="true">Sharding</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="raw-tab" data-toggle="tab"
                                                                :href="'#cluster-' + cluster.configuration.identifier + '-Settings-raw'"
                                                                role="tab" aria-selected="true">RAW (Read Only)</a>
                                                        </li>
                                                    </ul>
                                                    <!-- <form-input v-model="cluster.configuration.identifier" :type=`text`
                                                        :id="'clusterConfig-' + cluster.configuration.identifier + '-identifier'"
                                                        :label="'Identifer'"></form-input> -->

                                                    <div class="tab-content p-5" id="pills-clusterSettings">
                                                        <div class="tab-pane fade show active"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-general'"
                                                            role="tabpanel" aria-labelledby="general-tab">
                                                            <!-- General -->
                                                            <div class="pb-4">
                                                                <form-input v-model="cluster.configuration.auto_start"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-autostart'"
                                                                    :label="'Auto Start'"></form-input>
                                                                <form-input v-model="cluster.configuration.persist"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-persist'"
                                                                    :label="'Persist'"></form-input>
                                                                <p class="text-muted">When persist is enabled, changes
                                                                    to Manager will be saved else the configuration will
                                                                    be discarded when the daemon is next started.</p>
                                                            </div>
                                                            <form-input v-model="cluster.configuration.identifier"
                                                                :type=`text`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-identifier'"
                                                                :label="'Identifier'" :disabled="true"></form-input>
                                                            <form-input v-model="cluster.configuration.display_name"
                                                                :type=`text`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-display_name'"
                                                                :label="'Display Name'"></form-input>
                                                            <form-input v-model="cluster.configuration.token"
                                                                :type=`password`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-token'"
                                                                :label="'Token'"></form-input>
                                                            <form-submit v-on:click="saveClusterSettings(cluster)">
                                                            </form-submit>
                                                        </div>
                                                        <div class="tab-pane fade"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-bot'"
                                                            role="tabpanel" aria-labelledby="bot-tab">
                                                            <!-- Bot -->
                                                            <div class="pb-4">
                                                                <form-input
                                                                    v-model="cluster.configuration.bot.compression"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.compression'"
                                                                    :label="'Compression'"></form-input>
                                                                <form-input
                                                                    v-model="cluster.configuration.bot.guild_subscriptions"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.guild_subscriptions'"
                                                                    :label="'Guild Subscriptions'"></form-input>
                                                            </div>
                                                            <form-input v-model="cluster.configuration.bot.presence"
                                                                :type=`presence`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.presence'"
                                                                :label="'Presence'"></form-input>
                                                            <form-input v-model="cluster.configuration.bot.intents"
                                                                :type=`intent`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.intents'"
                                                                :label="'Intents'"></form-input>
                                                            <form-input
                                                                v-model="cluster.configuration.bot.large_threshold"
                                                                :type=`number`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.large_threshold'"
                                                                :label="'Large Threshold'"></form-input>
                                                            <form-input
                                                                v-model="cluster.configuration.bot.large_threshold"
                                                                :type=`number`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.large_threshold'"
                                                                :label="'Large Threshold'"></form-input>
                                                            <form-input
                                                                v-model="cluster.configuration.bot.max_heartbeat_failures"
                                                                :type=`number`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.max_heartbeat_failures'"
                                                                :label="'Max Heartbeat Failures'"></form-input>
                                                            <form-input v-model="cluster.configuration.bot.retries"
                                                                :type=`number`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-bot.retries'"
                                                                :label="'Retires'"></form-input>
                                                            <form-submit v-on:click="saveClusterSettings(cluster)">
                                                            </form-submit>
                                                        </div>
                                                        <div class="tab-pane fade"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-caching'"
                                                            role="tabpanel" aria-labelledby="caching-tab">
                                                            <div class="pb-4">
                                                                <form-input
                                                                    v-model="cluster.configuration.caching.cache_users"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-caching.cache_users'"
                                                                    :label="'Cache Users'"></form-input>
                                                                <form-input
                                                                    v-model="cluster.configuration.caching.cache_members"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-caching.cache_members'"
                                                                    :label="'Cache Members'"></form-input>
                                                                <form-input
                                                                    v-model="cluster.configuration.caching.request_members"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-caching.request_members'"
                                                                    :label="'Request Members'"></form-input>
                                                                <form-input
                                                                    v-model="cluster.configuration.caching.store_mutuals"
                                                                    :type=`checkbox`
                                                                    :id="'clusterConfig-' + cluster.configuration.identifier + '-caching.store_mutuals'"
                                                                    :label="'Store Mutuals'"></form-input>
                                                            </div>
                                                            <form-input
                                                                v-model="cluster.configuration.caching.redis_prefix"
                                                                :type=`text`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-caching.redis_prefix'"
                                                                :label="'Redis Prefix'"></form-input>
                                                            <form-input
                                                                v-model="cluster.configuration.caching.request_chunk_size"
                                                                :type=`number`
                                                                :id="'clusterConfig-' + cluster.configuration.identifier + '-caching.request_chunk_size'"
                                                                :label="'Request Chunk Size'"></form-input>
                                                            <form-submit v-on:click="saveClusterSettings(cluster)">
                                                            </form-submit>

                                                        </div>
                                                        <div class="tab-pane fade"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-events'"
                                                            role="tabpanel" aria-labelledby="events-tab">
                                                            <!-- Events -->
                                                        </div>
                                                        <div class="tab-pane fade"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-messaging'"
                                                            role="tabpanel" aria-labelledby="messaging-tab">
                                                            <!-- Messaging -->
                                                        </div>
                                                        <div class="tab-pane fade"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-sharding'"
                                                            role="tabpanel" aria-labelledby="sharding-tab">
                                                            <!-- Sharding -->
                                                        </div>
                                                        <div class="tab-pane fade"
                                                            :id="'cluster-' + cluster.configuration.identifier + '-Settings-raw'"
                                                            role="tabpanel" aria-labelledby="raw-tab">
                                                            <pre>{{ cluster }}</pre>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
                    <form @submit.prevent>
                        <ul class="nav nav-tabs" id="tabpanel" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="logging-tab" data-toggle="tab"
                                    href="#daemonSettings-logging" role="tab" aria-selected="true">Logging</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="redis-tab" data-toggle="tab" href="#daemonSettings-redis"
                                    role="tab" aria-selected="false">Redis</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="nats-tab" data-toggle="tab" href="#daemonSettings-nats"
                                    role="tab" aria-selected="false">NATs</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="http-tab" data-toggle="tab" href="#daemonSettings-http"
                                    role="tab" aria-selected="false">HTTP</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="raw-tab" data-toggle="tab" href="#daemonSettings-raw" role="tab"
                                    aria-selected="false">RAW (Read Only)</a>
                            </li>
                        </ul>
                        <div class="tab-content p-5" id="pills-daemonSettings">
                            <div class="tab-pane fade show active" id="daemonSettings-logging" role="tabpanel"
                                aria-labelledby="logging-tab">
                                <!-- Logging -->
                                <div class="pb-4">
                                    <form-input v-model="daemon.configuration.logging.console_logging" :type=`checkbox`
                                        :id=`loggingConsoleLogging` :label="'Console Logging'"></form-input>
                                    <form-input v-model="daemon.configuration.logging.file_logging" :type=`checkbox`
                                        :id=`loggingFileLogging` :label="'File Logging'">
                                    </form-input>
                                    <form-input v-model="daemon.configuration.logging.encode_as_json" :type=`checkbox`
                                        :id=`loggingEncodeAsJson` :label="'Encode as JSON'">
                                    </form-input>
                                </div>
                                <form-input v-model="daemon.configuration.logging.directory" :type=`text`
                                    :id=`loggingDirectory` :label="'Directory'">
                                </form-input>
                                <form-input v-model="daemon.configuration.logging.filename" :type=`text`
                                    :id=`loggingFilename` :label="'Filename'">
                                </form-input>
                                <form-input v-model="daemon.configuration.logging.max_size" :type=`number`
                                    :id=`loggingMaxSize` :label="'Max Size'">
                                </form-input>
                                <form-input v-model="daemon.configuration.logging.max_backups" :type=`number`
                                    :id=`loggingMaxBackups` :label="'Max Backups'">
                                </form-input>
                                <form-input v-model="daemon.configuration.logging.max_age" :type=`number`
                                    :id=`loggingMaxAge` :label="'Max Age'">
                                </form-input>
                                <form-submit v-on:click="saveDaemonSettings()"></form-submit>
                            </div>
                            <div class="tab-pane fade" id="daemonSettings-redis" role="tabpanel"
                                aria-labelledby="redis-tab">
                                <!-- Redis -->
                                <div class="pb-4">
                                    <form-input v-model="daemon.configuration.redis.unique_clients" :type=`checkbox`
                                        :id=`redisUniqueClients` :label="'Unique Clients'"></form-input>
                                </div>
                                <form-input v-model="daemon.configuration.redis.address" :type=`text` :id=`redisAddress`
                                    :label="'Address'"></form-input>
                                <form-input v-model="daemon.configuration.redis.password" :type=`password`
                                    :id=`redisPassword` :label="'Password'"></form-input>
                                <form-input v-model="daemon.configuration.redis.database" :type=`number` :id=`redisDB`
                                    :label="'Database'"></form-input>
                                <form-submit v-on:click="saveDaemonSettings()"></form-submit>
                            </div>
                            <div class="tab-pane fade" id="daemonSettings-nats" role="tabpanel"
                                aria-labelledby="nats-tab">
                                <!-- NATs -->
                                <form-input v-model="daemon.configuration.nats.address" :type=`text` :id=`natsAddress`
                                    :label="'Address'"></form-input>
                                <form-input v-model="daemon.configuration.nats.channel" :type=`text` :id=`natsChannel`
                                    :label="'Channel'"></form-input>
                                <form-input v-model="daemon.configuration.nats.cluster" :type=`text` :id=`natsCluster`
                                    :label="'Cluster'"></form-input>
                                <form-submit v-on:click="saveDaemonSettings()"></form-submit>
                            </div>
                            <div class="tab-pane fade" id="daemonSettings-http" role="tabpanel"
                                aria-labelledby="http-tab">
                                <!-- HTTP -->
                                <div class="pb-4">
                                    <form-input v-model="daemon.configuration.http.enabled" :type=`checkbox`
                                        :id=`httpEnabled` :label="'Enabled'"></form-input>
                                </div>
                                <form-input v-model="daemon.configuration.http.host" :type=`text` :id=`httpHost`
                                    :label="'Host'"></form-input>
                                <form-submit v-on:click="saveDaemonSettings()"></form-submit>
                            </div>
                            <div class="tab-pane fade" id="daemonSettings-raw" role="tabpanel"
                                aria-labelledby="raw-tab">
                                <!-- RAW -->
                                <pre>{{ daemon.configuration }}</pre>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/static/moment.min.js"></script>
<script src="/static/chart.min.js"></script>
<script src="/static/vue-chartjs.min.js"></script>
<script src="/static/script.js"></script>

</html>